/* la feuillette de style du carrousel */
.carrousel {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  transform: scale(0);
  transition: transform 0.5s;
  background-color: #000;
}

.carrousel--ouvrir {
  transform: scale(1);
}

.elmBouton__x {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  transition: color 0.5s;
}

/* conteneur des images du carrousel */
.carrousel__figure {
  width: 100%;
  height: 100%;
  position: relative;
}

/* le conteneur des boutons radio */
.carrousel__form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.carrousel__img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.carrousel__img--active{}